.App {
  text-align: center;
  font-family: 'Kufam', cursive;
}
.title {
  color: black;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(2, 87, 2);
}

.navlinks {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  }